*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  font-style: 1.6rem;
  letter-spacing: 0.2rem;
  padding: 5rem;
  background-color: white;
}

.containers {
  margin: 0;
  background-color: #F7F7F7;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.title-first {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.title-first__main {
  display: block;
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  -webkit-animation: leftToRight 2s;
          animation: leftToRight 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  -webkit-animation-name: rightToLeft;
          animation-name: rightToLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6.5rem;
}

@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn:link, .btn:visited {
  text-decoration: none;
  color: #777777;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 2rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
}
.btn::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn_animated {
  -webkit-animation: btnToUp 0.7s ease-out 0.9s;
          animation: btnToUp 0.7s ease-out 0.9s;
  -o-animation-fill-mode: backwards;
}

@-webkit-keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=tyle.css.map */